<h1>Product Catalog</h1>

<div class="row">
  <div class="col-4">
    <%= render "categories_menu", categories: @categories %>
  </div>
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price(SGD)</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <%= render "catalog_results", products: @products %>
      </tbody>
    </table>
  </div>
</div>

