<h1>Category#show</h1>
<%= link_to "Edit", edit_category_path(@category), { class: "btn btn-info" } %>

<%= render "layouts/flash_message" %>

<h4>Category name</h4>
<%= @category.name %>

<br>

<h4>Category hierarchy</h4>
<%= @category&.hierarchy  %>

